.logo {
    margin-left: 20px;
    width: 250px;
}




span.oligo {
    color:  #1E90FF;
}

.container{
    display:flex;
}
.col1{
    text-align: center;
 width:100%;
}
.col2{
    text-align: center;
  width:100%;
}

.champ {
    resize: none;
    padding :10px;
    height: 100px;
    width: 400px;
}


.container2{
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

textarea:invalid {
    color : red;
}


table {
    margin: 18px 0;
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    text-align: center;
    padding: 6px;
}

th {
    background-color: #696969;
    color: #fff;
    border: 1px solid #000;

}

table,
td {
    border: 1px solid #000;
}




label,
textarea {
    vertical-align: top;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;

}

.pourvoir{
    font-weight: bold;
    display: inline;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}